@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    /* Cor padrão do texto (não afeta os títulos que mudamos) */
    color: #f4f4f4; 
    overflow: hidden;
}

.fundo-embaçado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    
    background-image: url('./assets/mae-e-filha-fazer-compras-no-supermercado.jpg');
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(5px); 
    transform: scale(1.05); 
}
.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    row-gap: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.4); 
    position: relative;

    .label-start {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-row: 1;
        width: 100%;
        height: 100%;
        
        h1 {
            font-size: 1.5rem;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            
           
            color: #FFFFFF;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
        }
    }
}

    
    .Formulario { 
        width: 100%;
        height: 100%;
        grid-row: 2;
        align-self: start; 
        gap: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;

       
        .title { 
        display: none;
            
    .form-group input,
    .form-group button {
        width: 100%; 
        padding: 10px; 
        border-radius: 10px; 
        border: none; 
        font-family: "Poppins", sans-serif; 
    }
 }
}
